<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-cocoalumberjack"
    version="0.0.1">

    <name>CocoaLumberjack</name>
    <description>Cordova wrapper for CocoaLumberjack logging framework</description>
    <license>MIT</license>
    <keywords>cordova, phonegap, cocoalumberjack</keywords>

    <engines>
        <engine name="cordova" version=">=5.0.0" />
    </engines>

     <platform name="ios">
        <source-file src="src/ios/libCocoaLumberjack.a" framework="true" />
     </platform>
</plugin>
