* {
  margin: 0; }

body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

#menu {
  height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: height 0.3s ease-in-out;
  z-index: 2;
  background-color: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden; }
  #menu.active {
    height: 60px; }
    @media screen and (max-width: 768px) {
      #menu.active {
        height: 120px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  #menu .menu-item {
    border-left: 2px solid rgba(0, 0, 0, 0.3);
    height: 60px;
    line-height: 60px;
    width: 32%;
    text-align: center;
    background-color: white;
    max-width: 250px;
    min-width: 90px;
    cursor: pointer; }
    #menu .menu-item:hover {
      color: dodgerblue; }
    #menu .menu-item:last-of-type {
      border-right: 2px solid rgba(0, 0, 0, 0.3); }
  #menu #marker-description {
    width: 100%;
    margin: 0 10px;
    resize: none;
    font-size: 16px;
    max-height: 39px;
    overflow: auto;
    padding: 0; }
    #menu #marker-description:focus {
      outline: none; }

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  padding: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  #overlay.active {
    visibility: visible;
    opacity: 1; }
  #overlay .popup {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background-color: white;
    position: relative;
    padding: 30px;
    box-sizing: border-box; }
    #overlay .popup #popup-title {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: bold; }
    #overlay .popup #popup-header {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #overlay .popup #popup-header #add-photo {
        height: 194px;
        width: 194px;
        border: 2px solid gray;
        position: relative;
        cursor: pointer;
        margin-right: 30px;
        margin-bottom: 30px; }
        #overlay .popup #popup-header #add-photo:hover {
          border-color: dodgerblue;
          color: dodgerblue; }
          #overlay .popup #popup-header #add-photo:hover #plus-icon {
            fill: dodgerblue;
            stroke: dodgerblue; }
        #overlay .popup #popup-header #add-photo #add {
          width: 50px;
          height: 50px;
          position: absolute;
          top: 70px;
          left: 0;
          right: 0;
          margin: auto; }
        #overlay .popup #popup-header #add-photo .add-img-tag {
          position: absolute;
          bottom: 30px;
          font-size: 20px;
          left: 0;
          right: 0;
          margin: auto;
          text-align: center; }
        #overlay .popup #popup-header #add-photo .input-file {
          visibility: hidden; }
        #overlay .popup #popup-header #add-photo #popup-file-img {
          position: absolute;
          left: 0;
          right: 0;
          width: 100%;
          height: auto;
          top: 0;
          bottom: 0;
          margin: auto; }
      #overlay .popup #popup-header #popup-inputs {
        -ms-flex: 1;
        flex: 1; }
        #overlay .popup #popup-header #popup-inputs .date-container {
          display: -ms-flexbox;
          display: flex; }
          #overlay .popup #popup-header #popup-inputs .date-container input {
            padding-left: 5px; }
          #overlay .popup #popup-header #popup-inputs .date-container label {
            padding-right: 20px; }
        #overlay .popup #popup-header #popup-inputs label {
          cursor: pointer;
          font-size: 16px;
          font-weight: bold; }
        #overlay .popup #popup-header #popup-inputs input {
          margin-top: 5px;
          margin-bottom: 15px; }
        #overlay .popup #popup-header #popup-inputs input[type='text'], #overlay .popup #popup-header #popup-inputs textarea {
          width: 100%;
          border: 1px solid gray;
          font-size: 16px;
          max-width: 600px;
          resize: none; }
        #overlay .popup #popup-header #popup-inputs #event-description {
          max-height: 600px;
          height: 100%;
          display: block;
          margin-top: 15px; }
      @media screen and (max-width: 768px) {
        #overlay .popup #popup-header {
          -ms-flex-direction: column;
          flex-direction: column; } }
    #overlay .popup #cancel {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 80px;
      font-size: 16px;
      background-color: white;
      border-radius: 5px;
      border: 1px solid gray;
      cursor: pointer; }
      #overlay .popup #cancel:focus {
        outline: none; }
      #overlay .popup #cancel:hover {
        border-color: dodgerblue; }
    #overlay .popup #create-event {
      position: absolute;
      bottom: 20px;
      left: 20px;
      width: 80px;
      font-size: 16px;
      background-color: white;
      border-radius: 5px;
      border: 1px solid gray;
      cursor: pointer; }
      #overlay .popup #create-event:focus {
        outline: none; }
      #overlay .popup #create-event:hover {
        border-color: dodgerblue; }
    #overlay .popup button {
      cursor: pointer; }
  @media screen and (max-width: 420px) {
    #overlay {
      padding: 10px; }
      #overlay #popup-header {
        padding: 0; } }

.mapid-wrapper {
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  background-color: #333333;
  position: relative; }

#mapid {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1; }

#location-btn {
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  box-sizing: content-box;
  border: none;
  height: 35px;
  width: 35px;
  position: absolute;
  bottom: 140px;
  right: 25px;
  z-index: 10;
  background: white no-repeat center url("images/You.gif");
  background-size: 25px 25px; }
  #location-btn:focus {
    outline: none; }
  #location-btn:before {
    content: '';
    height: 35px;
    width: 35px;
    border: 2px solid #8CD4F5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -2px;
    margin: auto;
    border-radius: 50%;
    z-index: 9; }
  #location-btn.spinning {
    pointer-events: none; }
    #location-btn.spinning:before {
      border: 2px solid #f3f3f3;
      border-top: 2px solid #8CD4F5;
      animation: spin 1s infinite; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.clearMarkers {
  position: absolute;
  top: 128px;
  left: 10px;
  z-index: 10;
  width: 34px;
  height: 34px;
  border-radius: 4px;
  background: white no-repeat center url("images/trash.png");
  background-size: 25px 25px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  font-weight: 600;
  cursor: pointer; }
  .clearMarkers:focus {
    outline: none; }
  .clearMarkers:hover {
    background-color: #f4f4f4; }

.eventContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 300px; }
  .eventContainer .eventDescription {
    -ms-flex: 1 100%;
    flex: 1 100%;
    resize: none;
    margin: 10px 0;
    border-radius: 4px;
    border-color: gray;
    height: 50px; }
    .eventContainer .eventDescription:focus {
      outline: none; }

.popup-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .popup-header .img-wrapper {
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-width: 100px; }
    .popup-header .img-wrapper img {
      width: 100%;
      height: auto; }
  .popup-header .popup-header-content {
    -ms-flex: 2 0 0px;
    flex: 2 0 0;
    min-width: 100px; }
    .popup-header .popup-header-content p {
      margin: 5px 0; }

.leaflet-pane.leaflet-popup-pane .leaflet-popup-content-wrapper {
  padding: 20px;
  padding-bottom: 25px;
  padding-right: 25px; }
  .leaflet-pane.leaflet-popup-pane .leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0; }
  .leaflet-pane.leaflet-popup-pane .leaflet-popup-content-wrapper .popup-btn {
    position: absolute;
    right: 5px;
    bottom: 5px; }

.leaflet-routing-container.leaflet-bar.leaflet-control {
  padding: 0;
  border: 0; }

.hidden {
  display: none; }

.leaflet-top.leaflet-left .leaflet-control-search {
  box-shadow: none;
  position: absolute;
  left: 0;
  top: 75px;
  min-width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.3); }
  .leaflet-top.leaflet-left .leaflet-control-search .search-input {
    height: 30px;
    width: 120px;
    font-size: 16px;
    border: none;
    margin: 0;
    padding-left: 5px;
    padding-right: 60px; }
    .leaflet-top.leaflet-left .leaflet-control-search .search-input:focus {
      outline: none; }
  .leaflet-top.leaflet-left .leaflet-control-search .search-button {
    position: absolute;
    right: 0;
    border: none;
    width: 30px;
    height: 30px;
    background: url("images/search-icn.png") no-repeat 2px 2px;
    background-position: center;
    background-size: 17px 17px; }

.leaflet-top.leaflet-left .search-cancel {
  right: 31px;
  top: 3px; }

.ui-loader {
  display: none; }
