* {
  margin: 0; }

.mapid-wrapper {
  padding: 5px;
    padding-top: 20px;
  height: 100vh;
  box-sizing: border-box;
  background-color: #333333;
  position: relative; }

#mapid {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1; }

#location-btn {
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  box-sizing: content-box;
  border: none;
  height: 35px;
  width: 35px;
  position: absolute;
  bottom: 70px;
  left: 25px;
  z-index: 10;
  background: white no-repeat center url("images/You.gif");
  background-size: 25px 25px; }
  #location-btn:focus {
    outline: none; }
  #location-btn:before {
    content: '';
    height: 35px;
    width: 35px;
    border: 2px solid #8CD4F5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -2px;
    margin: auto;
    border-radius: 50%;
    z-index: 9; }

.spinning {
  pointer-events: none; }
#location-btn.spinning:before {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #8CD4F5;
    animation: spin 1s infinite; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.clearMarkers {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 10;
  height: 30px;
  border-radius: 4px;
  background-color: white;
  border: 2px solid #ccc;
  font-weight: 600;
  cursor: pointer; }
  .clearMarkers:focus {
    outline: none; }
  .clearMarkers:hover {
    background-color: #f4f4f4; }

.eventContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 300px; }
  .eventContainer .eventDescription {
    flex: 1 100%;
    resize: none;
    margin: 10px 0;
    border-radius: 4px;
    border-color: gray;
    height: 50px; }
    .eventContainer .eventDescription:focus {
      outline: none; }

.leaflet-routing-container.leaflet-bar.leaflet-control {
  padding: 0;
  border: 0; }

.hidden {
  display: none; }
