@import url("fonts/font-awesome/css/font-awesome.min.css");
@font-face {
  font-family: Roboto;
  src: url("fonts/roboto_mono/RobotoMono-Regular.ttf"); }

@font-face {
  font-family: Varela;
  src: url("fonts/varela-round/VarelaRound-Regular.otf"); }

* {
  margin: 0; }

body {
  width: 100%;
  height: 100%; }

.sidebar {
  position: fixed;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding-bottom: 100px;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 300px;
  z-index: 2;
  background-color: #6994B6;
  transition: all 0.4s ease-in-out;
  font-family: Roboto, Arial sans-serif; }
  .sidebar.active {
    left: 0; }
  .sidebar #logedOut {
    text-align: center;
    color: #6994B6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 50px;
    font-size: 30px;
    margin: auto; }
  .sidebar #logedIn .user-header {
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    color: #546B7F;
    word-spacing: -5px; }
    .sidebar #logedIn .user-header .side {
      max-width: 125px;
      width: 125px;
      text-align: center; }
    .sidebar #logedIn .user-header .user-ico {
      width: 50px;
      height: 50px;
      margin-top: 15px;
      background: no-repeat center url("images/user_alt.png");
      background-size: contain; }
  .sidebar #logedIn .logout {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    overflow: hidden; }
    .sidebar #logedIn .logout:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      background-color: white;
      bottom: -120px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      z-index: -1; }
  .sidebar .sidemenu {
    padding: 20px 10px;
    padding-top: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-around;
    max-height: 300px;
    height: 100vh;
    position: relative; }
    .sidebar .sidemenu:before {
      content: '';
      position: absolute;
      top: -430px;
      left: -250px;
      width: 800px;
      height: 500px;
      background-color: white;
      border-radius: 100%;
      z-index: -1; }
    .sidebar .sidemenu #facebook {
      width: 40px;
      height: 40px;
      background-color: white;
      border-radius: 5px;
      margin: 10px auto; }
      .sidebar .sidemenu #facebook:hover {
        background-color: #546B7F; }
        .sidebar .sidemenu #facebook:hover #fb {
          fill: white; }
      .sidebar .sidemenu #facebook #fb {
        width: 100%;
        height: 100%;
        fill: #6994B6; }
    .sidebar .sidemenu #clear {
      font-size: 22px;
      margin: 45px 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .sidebar .sidemenu #clear:hover .clear-ico {
        background-color: #546B7F; }
        .sidebar .sidemenu #clear:hover .clear-ico #brush .brush {
          fill: white; }
      .sidebar .sidemenu #clear .clear-ico {
        width: 60px;
        height: 60px;
        display: inline-block;
        background-color: white;
        border-radius: 50%;
        margin-right: 5px;
        position: relative; }
        .sidebar .sidemenu #clear .clear-ico #brush {
          width: 74%;
          height: 74%;
          position: absolute;
          top: -5px;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto; }
    .sidebar .sidemenu .sidemenu-item {
      text-align: center;
      word-spacing: -2px;
      color: white;
      cursor: pointer;
      font-size: 20px; }
  .sidebar #info {
    display: block;
    padding-bottom: 30px;
    margin-top: auto;
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Varela, Arial sans-serif;
    cursor: pointer; }
    .sidebar #info:hover #i {
      color: white; }
      .sidebar #info:hover #i:before {
        background-color: #546B7F; }
    .sidebar #info #i {
      margin-top: 20px;
      color: #546B7F;
      position: relative;
      font-size: 40px;
      font-weight: bolder;
      line-height: 40px; }
      .sidebar #info #i:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 60px;
        height: 60px;
        background-color: white;
        border-radius: 50%;
        z-index: -1; }
  .sidebar #closeSideMenu {
    width: 60px;
    height: 120px;
    background-color: hotpink;
    cursor: pointer;
    margin-left: auto;
    z-index: 5;
    background: no-repeat right url("images/close-menu.png"); }

#menu {
  font-family: Roboto, Arial sans-serif;
  transition: height 0.3s ease-in-out;
  z-index: 2;
  height: 0;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6994B6;
  padding: 0;
  box-shadow: 0 -5px 5px -5px #333;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden; }
  #menu.active {
    height: 90px; }
    @media screen and (max-width: 768px) {
      #menu.active {
        height: 120px;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  #menu .marker-description-wrapper {
    width: 50%;
    margin: 0 10px;
    box-sizing: border-box; }
    #menu .marker-description-wrapper #marker-description {
      box-sizing: border-box;
      width: 100%;
      font-size: 16px;
      max-height: 39px;
      padding: 0 10px;
      border: none;
      background: none;
      border-bottom: 1px solid white;
      color: white; }
      #menu .marker-description-wrapper #marker-description:focus {
        outline: none; }
  #menu .menu-items {
    width: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    #menu .menu-items .menu-item {
      height: 60px;
      line-height: 60px;
      width: 200px;
      text-align: center;
      background-color: white;
      cursor: pointer;
      border-radius: 10px;
      font-size: 34px;
      color: #6994B6; }
      #menu .menu-items .menu-item:hover {
        color: white;
        background-color: #546B7F; }
  #menu #close-btn {
    height: 100%;
    min-width: 95px;
    margin-left: 10px;
    background: no-repeat center top url("images/close-menu-horiz.png");
    cursor: pointer; }

/* The slider */
.switch {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 80px;
  padding: 6px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px; }
  .switch:after {
    content: '';
    width: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #546B7F; }
  .switch .slider {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 42px; }
    .switch .slider:before {
      content: '';
      position: absolute;
      width: 50%;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: #546B7F;
      z-index: 0;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      transition: all 0.4s ease-in-out; }
    .switch .slider:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border-radius: 10px;
      border: 1px dashed #546B7F; }
    .switch .slider .switcher-left-side, .switch .slider .switcher-right-side {
      position: relative;
      width: 50%;
      height: 100%;
      line-height: 65px;
      box-sizing: border-box; }
  .switch input + .slider .switcher-left-side {
    color: white; }
  .switch input + .slider .switcher-right-side {
    color: #546B7F; }
  .switch input:checked + .slider:before {
    left: 50%;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
  .switch input:checked + .slider .switcher-left-side {
    color: #546B7F; }
  .switch input:checked + .slider .switcher-right-side {
    color: white; }
  .switch input {
    display: none; }

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  padding: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  #overlay.active {
    visibility: visible;
    opacity: 1; }
  #overlay .popup {
    font-family: Roboto, Arial sans-serif;
    color: white;
    background-color: #6994B6;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 30px;
    box-sizing: border-box; }
    #overlay .popup #popup-title {
      margin-bottom: 75px;
      font-weight: bold;
      color: white;
      letter-spacing: 1px;
      font-size: 36px; }
      #overlay .popup #popup-title span {
        position: relative;
        z-index: 1;
        color: #6994B6; }
        #overlay .popup #popup-title span:after {
          content: '';
          position: absolute;
          right: -1px;
          left: -1px;
          top: -10px;
          bottom: -10px;
          border-radius: 50%;
          z-index: -1;
          background-color: white; }
    #overlay .popup #popup-header {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: start;
      -ms-flex-align: center;
      align-items: stretch; }
      #overlay .popup #popup-header #add-photo {
        height: 250px;
        width: 300px;
        background-color: white;
        position: relative;
        cursor: pointer;
        margin-right: 30px; }
        #overlay .popup #popup-header #add-photo:hover .plus-symbol {
          background-color: #546B7F; }
        #overlay .popup #popup-header #add-photo:hover .add-img-tag {
          color: #546B7F; }
        #overlay .popup #popup-header #add-photo .plus-symbol {
          width: 120px;
          height: 120px;
          border-radius: 100%;
          background-color: #6994B6;
          margin: 20px auto;
          position: relative; }
          #overlay .popup #popup-header #add-photo .plus-symbol:before {
            position: absolute;
            width: 100px;
            height: 100px;
            line-height: 110px;
            font-weight: 100;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            content: '+';
            font-size: 180px;
            text-align: center;
            font-family: Varela, Arial sans-serif; }
        #overlay .popup #popup-header #add-photo .add-img-tag {
          position: absolute;
          bottom: 30px;
          font-size: 40px;
          left: 0;
          right: 0;
          margin: auto;
          text-align: center;
          color: #6994B6;
          word-spacing: -17px; }
        #overlay .popup #popup-header #add-photo .input-file {
          visibility: hidden; }
        #overlay .popup #popup-header #add-photo #popup-file-img {
          position: absolute;
          left: 0;
          right: 0;
          width: 100%;
          height: auto;
          top: 0;
          bottom: 0;
          margin: auto; }
      #overlay .popup #popup-header #popup-inputs {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: 500px;
        min-height: 250px;
        width: 100%; }
        #overlay .popup #popup-header #popup-inputs .date-wrapper {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
          justify-content: space-around; }
          #overlay .popup #popup-header #popup-inputs .date-wrapper input {
            padding-left: 5px;
            padding-bottom: 5px;
            margin-bottom: 5px;
            max-width: 200px;
            box-sizing: border-box; }
          #overlay .popup #popup-header #popup-inputs .date-wrapper label {
            text-align: center;
            max-width: 90px; }
        #overlay .popup #popup-header #popup-inputs label {
          cursor: pointer;
          font-size: 20px;
          font-weight: bold; }
        #overlay .popup #popup-header #popup-inputs #title::-webkit-input-placeholder {
          font-size: 18px; }
        #overlay .popup #popup-header #popup-inputs input {
          margin-top: 5px; }
          #overlay .popup #popup-header #popup-inputs input::-webkit-input-placeholder {
            color: white;
            text-align: center; }
        #overlay .popup #popup-header #popup-inputs input[type='text'] {
          border: none;
          border-bottom: 1px solid white;
          background: none;
          width: 100%;
          font-size: 14px;
          resize: none; }
          #overlay .popup #popup-header #popup-inputs input[type='text']:focus {
            border: none;
            background-color: white;
            outline: none; }
        #overlay .popup #popup-header #popup-inputs textarea {
          border: none;
          width: 100%;
          font-size: 16px;
          resize: none;
          padding: 10px 10px;
          box-sizing: border-box; }
        #overlay .popup #popup-header #popup-inputs #event-description {
          max-height: 600px;
          height: 100%;
          display: block;
          margin-top: 5px; }
    #overlay .popup #cancel {
      position: absolute;
      bottom: 20px;
      right: 20px;
      width: 80px;
      font-size: 16px;
      background-color: white;
      border-radius: 5px;
      border: 1px solid gray;
      cursor: pointer; }
      #overlay .popup #cancel:focus {
        outline: none; }
      #overlay .popup #cancel:hover {
        border-color: dodgerblue; }
    #overlay .popup #create {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      line-height: 30px;
      z-index: 1;
      color: #6994B6;
      overflow: hidden; }
      #overlay .popup #create:focus {
        outline: none; }
      #overlay .popup #create:hover {
        border-color: dodgerblue; }
      #overlay .popup #create:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background-color: white;
        bottom: -120px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        z-index: -1; }
    #overlay .popup button {
      cursor: pointer; }
    #overlay .popup .close-popup {
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      cursor: pointer;
      font-size: 30px;
      width: 50px;
      height: 50px;
      text-align: center; }
  @media screen and (max-width: 440px) {
    #overlay {
      padding: 10px; }
      #overlay #overlay .popup #popup-header {
        padding: 0; } }

.mapid-wrapper {
  padding-top: 20px;
  height: 100vh;
  box-sizing: border-box;
  background-color: #333333;
  position: relative; }

#mapid {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1; }

#location-btn {
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  box-sizing: content-box;
  border: none;
  height: 35px;
  width: 35px;
  position: absolute;
  bottom: 140px;
  right: 25px;
  z-index: 500;
  background: white no-repeat center url("images/user.png");
  background-size: cover; }
  #location-btn:focus {
    outline: none; }
  #location-btn:before {
    content: '';
    height: 35px;
    width: 35px;
    border: 2px solid #f3f3f3;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -2px;
    margin: auto;
    border-radius: 50%;
    z-index: 9; }
  #location-btn.spinning {
    pointer-events: none; }
    #location-btn.spinning:before {
      border: 2px solid #2F82C7;
      border-top: 2px solid #f3f3f3;
      animation: spin 1s infinite; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.leaflet-touch .leaflet-bar button {
  padding: 0; }

.close {
  background: url("images/close.png") no-repeat center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
  background-size: cover; }

.burger {
  background: url("images/burger.png") no-repeat center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
  background-size: cover; }

.eventContainer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 300px; }
  .eventContainer .eventDescription {
    -ms-flex: 1 100%;
    flex: 1 100%;
    resize: none;
    margin: 10px 0;
    border-radius: 4px;
    border-color: gray;
    height: 50px; }
    .eventContainer .eventDescription:focus {
      outline: none; }

.popup-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .popup-header .img-wrapper {
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    min-width: 100px;
    margin-right: 10px; }
    .popup-header .img-wrapper img {
      width: 100%;
      height: auto; }
  .popup-header .popup-header-content {
    -ms-flex: 2 0 0px;
    flex: 2 0 0;
    min-width: 100px; }
    .popup-header .popup-header-content p {
      margin: 5px 0; }

.leaflet-pane.leaflet-popup-pane .leaflet-popup-content-wrapper {
  padding: 20px;
  padding-bottom: 25px;
  padding-right: 25px; }
  .leaflet-pane.leaflet-popup-pane .leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0; }
  .leaflet-pane.leaflet-popup-pane .leaflet-popup-content-wrapper .popup-btn {
    position: absolute;
    right: 5px;
    bottom: 5px; }

.leaflet-routing-container.leaflet-bar.leaflet-control {
  padding: 0;
  border: 0; }

.hidden {
  display: none; }

.leaflet-top.leaflet-left .leaflet-control-search {
  box-shadow: none;
  position: absolute;
  left: 0;
  top: 75px;
  min-width: 30px;
  height: 30px;
  border: 2px solid rgba(0, 0, 0, 0.3); }
  .leaflet-top.leaflet-left .leaflet-control-search .search-input {
    height: 30px;
    width: 120px;
    font-size: 16px;
    border: none;
    margin: 0;
    padding-left: 5px;
    padding-right: 60px; }
    .leaflet-top.leaflet-left .leaflet-control-search .search-input:focus {
      outline: none; }
  .leaflet-top.leaflet-left .leaflet-control-search .search-button {
    position: absolute;
    right: 0;
    border: none;
    width: 30px;
    height: 30px;
    background: url("images/search-icn.png") no-repeat 2px 2px;
    background-position: center;
    background-size: 17px 17px; }

.leaflet-top.leaflet-left .search-cancel {
  right: 31px;
  top: 3px; }

@media screen and (max-width: 950px) {
  #overlay .popup #popup-title {
    margin-bottom: 20px; }
  #overlay .popup #popup-header {
    -ms-flex-direction: column;
    flex-direction: column; }
    #overlay .popup #popup-header #add-photo {
      margin-left: auto;
      margin-right: -30px;
      margin-bottom: 30px; } }

@media screen and (max-height: 600px) {
  #overlay {
    padding: 15px; }
    #overlay .popup {
      padding: 10px; }
      #overlay .popup #popup-title {
        margin-bottom: 25px;
        margin-top: 15px; }
      #overlay .popup #popup-header {
        -ms-flex-direction: column;
        flex-direction: column; }
        #overlay .popup #popup-header #add-photo {
          margin-left: auto;
          margin-bottom: 2px;
          margin-right: -10px;
          width: 200px;
          height: 175px; }
          #overlay .popup #popup-header #add-photo .plus-symbol {
            width: 75px;
            height: 75px; }
            #overlay .popup #popup-header #add-photo .plus-symbol:before {
              font-size: 100px;
              width: 75px;
              height: 75px;
              line-height: 85px; }
          #overlay .popup #popup-header #add-photo .add-img-tag {
            font-size: 32px;
            word-spacing: -12px; } }

@media screen and (max-height: 650px) {
  #sidebar .switch {
    height: 60px; }
    #sidebar .switch .slider * {
      font-size: 30px;
      line-height: 50px; }
  #sidebar #clear {
    margin: 0; } }

@media screen and (max-width: 1000px) {
  #menu {
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 50px; }
    #menu.active {
      height: 150px; }
    #menu .marker-description-wrapper {
      width: 100%;
      height: 50%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      padding-right: 30px; }
    #menu .menu-items {
      width: 100%;
      height: 50%; }
    #menu #close-btn {
      position: absolute;
      top: 0;
      right: 0; } }

@media screen and (max-width: 600px) {
  #menu {
    padding: 0 10px; }
    #menu .marker-description-wrapper {
      padding-right: 100px; }
    #menu .menu-items .menu-item {
      width: 150px;
      height: 45px;
      line-height: 45px;
      font-size: 26px; } }

.ui-loader {
  display: none; }
